* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero__section{
    background: url(/images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 16px 48px;
}

.navbar a{
    text-decoration: none;
    color: white;

}

.navbar__menu_container{
    display: flex;
    gap: 20px;
}